<!DOCTYPE html>
<html lang="en">
</head>
						
  <div class="row">
    <div class="col-md-9">    
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title panel-title-style"><center>Articles</center></h3>
        </div>
        <div class="panel-body panel-style">
          <table class="table article -table">
            <tbody>
              {{#each articles}}
          
                  <tr>   
                    <td>{{this.title}} <br> {{this.link}}</td> 
                    <td>
                      <form action="/article/{{this.id}}" method="DELETE">
                          <button type="input" class="btn btn-primary btn-xs btn-del" data-id="{{this.id}}">Delete</button>
                      </form> 
                      <form action="/article/{{this.id}}" method="GET">
                        <button type="submit" class="btn btn-primary btn-xs" data-id="{{this.id}}" id="btn-note">Comments</button>
                      </form>
                    </td>
                  </tr>
              
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-3">    
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title panel-title-style"><center>Comments</center></h3>
          </div>
          <div class="panel-body panel-style" id="notes">
            {{#each notes}}
          
                  <tr>   
                    <td>{{this.title}} <br> {{this.body}}</td> 
                    <td>
                      <form action="/note/{{this.id}}" method="DELETE">
                          <button type="input" class="btn btn-primary btn-xs btn-del-note" data-id="{{this.id}}">Delete</button>
                      </form> 
                     
                    </td>
                  </tr>
              
              {{/each}}
          </div>
        </div>
      </div>
    </div>








  </div>